.bot-container {
  display: grid;
  grid-gap: 1rem;
  .head {
    text-align: center;
  }
  .bot-img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
  }
  .content {
    margin: auto;
    width: 80%;
    @media (min-width: 1200px) {
      width: 50%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  .bot-input {
    display: block;
    width: 100% !important;
    border: none !important;
    padding: 1rem 1.3rem !important;
    border: #a8a8a8 solid 1px !important;
    border-radius: 5px !important;
  }
  .bot-input-error {
    border: #ff0000 solid 2px;
  }
}