.button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  transition: all 250ms linear;
  background: #333;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    transform: scale(0.95);
  }
}

.button-primary {
  background: #0099e0 !important;
}