.hero.logo {
  .drei {
    margin-top: -3vw;
  }
  @media screen and (min-width: 51.875rem) {
    .drei {
      height: 30vw;
    margin-top: -3vw;
    }
  }
  @media screen and (max-width: 51.875rem) {
    .info {
      margin-top: calc(-3rem - 2vh);
    }
  }
}