.shirt.hero {
  .info {
    .main-title {
      max-width: 40rem !important;
    }
  }
  @media screen and (min-width: 51.875rem) {
    .drei {
      height: min(35rem, 30vw);
      margin-top: 1rem;
    }
    .info {
      margin-top: 4rem;  
    }
  }
  @media screen and (max-width: 51.875rem) {
    .drei {
      margin-top: 2rem;
    }
    .info {
      margin-top: -1.4rem;
    }
  }
}