.__root.spacesummit {
  padding-top: 0 !important;
  section:first-of-type {
    margin-top: 2rem !important;
  }
}
.trophies {
  @media screen and (max-width:767px){
    #gold{
      order: 1;
    }
    #silver{
      order: 2;
    }
    #bronze{
      order: 3;
    }
    margin-top: -2.3rem !important;
  }
  margin-top: -3rem !important;
}