.__root.spacesummit {
  padding-top: 0 !important;
  section:first-of-type {
    margin-top: 2rem !important;
  }
}
.trophies {
  @media screen and (max-width:767px){
    #gold{
      order: 1;
    }
    #silver{
      order: 2;
    }
    #bronze{
      order: 3;
    }
    margin-top: -2.3rem !important;
  }
  margin-top: -3rem !important;
}
.summit-video {
  // row gap-h-2 justify-content-center"
  display: flex;
  justify-content: center;
  gap: 2rem;
  @media (max-width: 1050px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .description {
      text-align: center;
      &>* {
        margin-right: auto;
        margin-left: auto;
      }
      p {
        max-width: 500px;
        text-align: justify;
      }
    }
  }
}