h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
// Global theme
    .muted {
        color: rgb(165, 165, 165);
    }
    .columns {
        column-rule: 1px solid rgba(155, 155, 155, 0.2);
    }
// Scroll bar
    ::-webkit-scrollbar {
        width: .753rem;
    }
    ::-webkit-scrollbar-track {
        background-color: #d1d1d1;
    }
    ::-webkit-scrollbar-thumb {
        border: 2px solid #d1d1d1;
        background-color: #797979;
        border-radius: 100vw;
        margin: 0 3px;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: #1987B8;
    }

// Start Navbar
header {
    background: #333;
    color: white;
    height: 24px;
    transition: all 200ms;
  }
   .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25, 135, 184, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  .navbar-toggler, .navbar-toggler {
    border: 1px solid #1987B8 !important;
  } 
  .navbar {
    margin-top: 24px;
    transition: all 0.3s;
    &::before {
        transition: all 0.3s;
    }
    &.navbarBlack {
      background: #212529 !important;
    }
    &.changeBackground * {
        color: #212529 !important;
        font-weight: 700;
    }
    &.changeBackground .glass {
      transition: all .6s;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: none;
      //background: radial-gradient(circle at top left, rgba(255,255,255,.5) 50%, rgba(255,255,255,.2) 100%);
      background: rgba(255,255,255,0.5);
      background-size: 100% 100%;
      backdrop-filter: blur(10px); 
      margin: -20px;
    }
    &.dark {
      background: #212529 !important;
    }
    &.changeBackground {
      background: none !important;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
      z-index: 1;
      overflow: hidden;
    }
    .nav-link span {
      padding: 4px 10px;
      transition: all 0.3s;
      padding: 0;
      margin: 0 3px;
      position: relative;
        padding: 8px 0;
    }
    .nav-link span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: .175rem;
        background-color: #1987B8;
        bottom: 0;
        right: 0;
        transform: scale(0, 1);
        transition: all .3s;
    }
    .nav-item:hover .nav-link span::after, .nav-link.active span::after {
         transform: scale(1);
     }
  }
  @media(max-width: 990px) {
    header {
      display: none;
    }
    .navbar {
      margin-top: 0px;
    }
  }
  
  @media(min-width: 991px) {
    .navbar {
      background: rgba(0,0,0,0) !important;
    }
  }

//End Navbar
//Start News
.news  {
    a {
        width: -webkit-fill-available;
        justify-content: center;
    }
    .card {
        box-shadow: 0 8px 32px 0 rgba(51, 51, 51, 0.04) !important;
        backdrop-filter: blur( 4px ) !important;
        border: none; 
        cursor: pointer;
        transition: all .2s;
        border-radius: 15px;
        overflow: hidden;
    }
    a {
        opacity: 0.8;
    transition: all 0.3s;
    &:hover {
        opacity: 1;
        text-decoration: none !important;
    }}
    .image {
        img {
            aspect-ratio: 16/9;
         }      
    }
}
.i {
    padding-top: 0 !important;
    margin:0 !important
}
//End News

//Start Footer
.footer {
    // background: #1987B8 !important;
    border-radius: 0;
    &,  a {
      color: white;
    }
      i {
      margin-right: 5px;
      width: 20px;
    }
     a i:hover {
      color: #0F536B;
    }
    transition: all 400ms;
  }
  
  .copyright {
    background: #0F536B;
    color: white;
    transition: all 400ms;
  }
  /*End Footer*/
// Carousel    
    .slide {
        border-radius: 30px;
    }
    .carousel {
        box-shadow: 0 8px 32px 0 rgba(51, 51, 51, 0.37) !important;
        backdrop-filter: blur( 4px ) !important;
    }
    .carousel-control-next, .carousel-control-prev {
        z-index: 0;
    }
    .carousel-item-next{
        transition: transform 0s ease-in-out;
    }
      
    .carousel-item-prev{
        transition: transform 0s ease-in-out;
    }
    .carousel-item-left {
        transform: translateX(-100%);
    }
    .carousel-item-right {
        transform: translateX(100%);
    }
//Start Events
.ui.divided.items>.item:first-child, .ui.divided.items>.item:last-child , .ui.divided.items>.item{
    padding: 10px 0 !important;
}

.events {
    display:flex;
    align-items: flex-end;
    .item {
        &:hover * {
            color: #333 !important;
        }
        display:flex;
        margin-left: 10px !important;
        position: relative;
        border-radius: 15px !important;
        transition: all 0.3s;
        background-color: rgba(255, 255, 255, 0.767) !important;
        opacity: 0.8;
        text-decoration: none;
        padding: 10px 0 !important;
        width: calc(100% - 30px) !important;
        box-sizing: border-box;
        transition: all 500ms ease-in-out !important;
        float: none;
        margin-right: 0;
        box-shadow: rgba(110, 110, 110, 0.3) 0px 8px 32px 0px !important;
        &:hover {
        margin-left: 0px !important;
            width: 100% !important;
            opacity: 1;
            .image {
                left: 10px;
            }
            .content {

                //padding-left: 21px !important;
            }
        }
        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; 
            -webkit-box-orient: vertical;
        }
        .content {

            //padding-left: 0 !important;
            transition: all 500ms ease-in-out !important;
        }
        .image {
            position: absolute;
            left: -30px;
            margin-top: auto;
            margin-bottom: auto;
            transition: all 0.3s ease-in-out;
            height: 100px;
            width: fit-content !important;
            img {
                height: 100px !important;
                width:auto !important;
                aspect-ratio: 1/1 !important;
                -webkit-aspect-ratio: 1/1 !important;
                -moz-aspect-ratio: 1/1 !important;
                border-radius: 15px 15px!important;
                
            }

        }
    }

}
//End events
// Theme toggler
    .switch {
        z-index: 10000;
        display: inline-block;
        position: fixed;
        bottom: 20px;
        right:20px;
        border-radius: 100vw;
        height: 65px;
        width: 65px;
        border-radius: 100vw;
        cursor: pointer;
        background-color: #333;
        transition: all 500ms;
        box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.9) !important;
        backdrop-filter: blur( 10px ) !important;
    }
    .toggled {
        background-color: #fff;
    }
    .themeIcon {
        width: 100%;
        height: 100%;
        padding: 20%;
    }
    .moon {
        color: #e5e5e5;
    }
    .sun {
        color: #333;
    }
// Members Card
    .ui.card {
        padding-top: 6rem;
        margin: -6rem 0 0 0;
        z-index: -1 !important;
        background: rgba(255, 255, 255, 0.767);
        box-shadow: 0 8px 32px 0 rgba(110, 110, 110, 0.3) !important;
        backdrop-filter: blur( 4px ) !important;
        transition: all 350ms;
        border-radius: 15px;
    }
    .member-container {
        text-align: center;
        max-width: 18rem;
        transition: all 500ms;
        margin: auto;
    }
    .circle {
        border-radius: 50%;
        aspect-ratio: 1/1;
        max-width: 13rem;
        max-height: 13rem;
        box-shadow: 0 8px 32px 0 rgba(110, 110, 110, 0.3) !important;
        backdrop-filter: blur( 4px ) !important;
    }
    .member-container:hover {
        transform: scale(1.05);
        transform: perspective(-1px)
    }
    .columns {
        columns: 2;
        padding: 0 2rem ;
        div {
            text-align: center;
        }
    }

// Past parteners
    .arrow {
        border: none;
        background: none;
        font-size: 2rem;
    }
    .partener {
        transition: all 450ms;
    }
    .partener:hover {
        transform: scale(1.15);
    }

// Firefox support
    @-moz-document url-prefix() {
        .glass {
            background-color: rgba(255, 255, 255, .9) !important;
        }
        .ui.card {
            width: auto !important;
        }
      }