// Start Navbar
header {
    background: #333;
    color: white;
    height: 24px;
  }
  .navbar {
    margin-top: 24px;
    transition: all 0.3s;
    &::before {
        transition: all 0.3s;
    }
    &.navbarBlack {
      background: #212529 !important;
    }
    &.changeBackground * {
        color: #212529 !important;
        font-weight: 700;
    }
    &.changeBackground .glass {
      transition: all .6s;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: none;
      //background: radial-gradient(circle at top left, rgba(255,255,255,.5) 50%, rgba(255,255,255,.2) 100%);
      background: rgba(255,255,255,0.5);
      background-size: 100% 100%;
      backdrop-filter: blur(10px); 
      margin: -20px;
    }
    &.dark {
      background: #212529 !important;
    }
    &.changeBackground {
      background: none !important;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
      z-index: 1;
      overflow: hidden;
    }
    .nav-link span {
      padding: 4px 10px;
      transition: all 0.3s;
      padding: 0;
      margin: 0 3px;
      position: relative;
        padding: 8px 0;
    }
    .nav-link span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: .175rem;
        background-color: #1987B8;
        bottom: 0;
        right: 0;
        transform: scale(0, 1);
        transition: all .3s;
    }
    .nav-item:hover .nav-link span::after, .nav-link.active span::after {
         transform: scale(1);
     }
  }
  @media(max-width: 990px) {
    header {
      display: none;
    }
    .navbar {
      margin-top: 0px;
    }
  }
  
  @media(min-width: 991px) {
    .navbar {
      background: rgba(0,0,0,0) !important;
    }
  }

//End Navba

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
// Global theme
    .muted {
        color: rgb(165, 165, 165);
    }
    .columns {
        column-rule: 1px solid rgba(155, 155, 155, 0.2);
    }
// Member
    .i {
        cursor: pointer;
    }
    // Profile picture 
        .member {
            max-height: 230px * 2;
            max-width: 150px * 1.5;
            margin: auto;
        }
        .thumbnail {
            border-radius: 25px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .const-aspect-ratio {
            height: 0;
            overflow: hidden;
            padding-top: calc(230 / 150 * 100%);
            position: relative;
        }
        .aspect-ratio-box {
            max-height: 230px * 1.4;
            max-width: 150px * 1.3;
            margin: auto;
        }
        
    .member {
        font-size: 1.15rem;
        text-align: center;
        position: relative;
        padding: .9rem;
        h5{
            margin: .6rem 0 .3rem 0;
            font-weight: bold;
        }
        .front {
            z-index: 1000;
            hr {
                width: 30%;
                margin: auto;
            }
        }
    }
    .columns {
        columns: 2;
        padding: 0 2rem ;
        div {
            text-align: center;
        }
    }
    // Hover effect
        .member:hover {
            .back {
                opacity: 1;
                transform: scale(1);
            }
            .front {
                transform: translateY(-6rem) scale(0.85);
            }
            .info {
                opacity: 1;
                transition: 200ms;
                transform: translateY(-1rem);
            }
            .name {
                animation: name-animation 250ms ease;
            }
        }

    .front {
        transition: 150ms;
    }
    // Background 
        .back {
            opacity: 0;
            border-radius: 15px;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            transform: scale(0.3, 0.75);
            z-index: -1;
            transition: 250ms;
        }
    // Member hidden info
        .info {
            opacity: 0;
            position: absolute;
            bottom: 0; right: 0; left: 0;
            p {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    // Member name animation
        @keyframes name-animation {
            0% {
                opacity: 1;
            }
            20% {
                opacity: 0;
                transform: translateY(0.7rem);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
//Start News
.news  {
    a {
        width: -webkit-fill-available;
        justify-content: center;
    }
    .card {
        box-shadow: 0 8px 32px 0 rgba(51, 51, 51, 0.37) !important;
        backdrop-filter: blur( 4px ) !important;

        border: none; 
        cursor: pointer;
        transition: all .2s;
        border-radius: 30px;
        overflow: hidden;
    }
    .image {
        img {
            aspect-ratio: 16/9;
         }      
    }
}
//End News

//Start Footer
.footer {
    background: #1987B8 !important;
    border-radius: 0;
    &,  a {
      color: white;
    }
      i {
      margin-right: 5px;
      width: 20px;
    }
     a i:hover {
      color: #0F536B;
    }
  }
  
  .copyright {
    background: #0F536B;
    color: white;
  }
  /*End Footer*/
// Media Quires 
    @media screen and (min-width: 600px) {
        .member {
            h5{
                margin: .6rem 0 -.1rem 0;
            }
        }
    }
    @media screen and (max-width: 460px) {
        .info {
            p {
                font-size: .9rem;
                font-weight: bold;
            }
        }

    }
    @media screen and (max-width: 315px) {
        .info {
            p {
                display: none;
            }
        }
        .member:hover { 
            .info {
                opacity: 1;
                transition: 200ms;
                transform: translateY(-2rem);
            }
        }

    }
// Carousel    
    .slide {
        border-radius: 40px;
    }
    .carousel-control-next, .carousel-control-prev {
        z-index: 0;
    }
// Theme toggler
    .switch {
        display: inline-block;
        position: fixed;
        bottom: 20px;
        right:20px;
        border-radius: 100vw;
        height: 65px;
        width: 65px;
        border-radius: 100vw;
        cursor: pointer;
        background-color: #333;
        transition: all 500ms;
    }
    .toggled {
        background-color: #fff;
    }
    .themeIcon {
        width: 100%;
        height: 100%;
        padding: 20%;
    }
    .moon {
        color: #e5e5e5;
    }
    .sun {
        color: #333;
    }
