.hero.about {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 8rem;
  height: fit-content;
  .logo {
    margin-bottom: 2rem;
    width: 100%;
    margin-top: -3vw;
    height: 70vw;
    aspect-ratio: 21 / 9;
  }
  @media screen and (min-width: 51.25rem) {
    flex-direction: row;
    align-items: stretch;
    text-align: left;
    margin-top: 15rem;
    .logo {
      width: 100%;
      height: 30vw;
      aspect-ratio: auto;
      margin-bottom: 0rem;
      // max-height: 35rem;
      display: flex;
      justify-content: flex-end;
      margin-top: -3vw;
      img, canvas {
        height: 100%;
      }
    }
    .info {
      margin-top: 2vw;
      .main-title {
        max-width: 30rem;
      }
    }
  }
  @media screen and (max-width: 78.75rem) {
    .info {
      margin-top: 0vw;
    }
  }
  @media screen and (max-width: 51.25rem) {
    .info {
      margin-top: -9vw;
    }
  }
}